body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

header {
    color: #222020;
    text-align: center;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00AB84;
    color: white;
    padding: 20px;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
    background-color: #0056b3;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #003885;
}


main {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    color: #fff;
    background-color: #00AB84;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

.boton{
    color: #fff;
    background-color: #00AB84;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

.shadow-drop-center:hover {
    animation: shadow-drop-center 0.4s linear both;
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }
    100% {
        box-shadow: 0 0 20px 0 rgba(4, 195, 62, 0.55);
    }
}


footer {
    margin: 30px 0;
    text-align: center;
    color: #888;
}

h3{
    color: #222020;
    text-align: center;
}

label{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

